@import './settings';
@import './responsive';
@import './components';


.ant-layout-sider {
    background: #eee !important;
}

.ant-layout-footer {
    margin-top: $baseSize * 5;
}

.ant-layout-sider-trigger {
    background: #ccc !important;
}

.heading {
    color: #999;
    margin-bottom: $baseSize * 3;
    h2 {
        margin-bottom:  0;
        color: $blueish;
    }
}

.ant-btn {
    &.link-btn {
        border: none;
    }
}

.main-form {
    &.loading {
        opacity: .4;
        transition: all .3s ease;
    }
    .ant-form-item-label {
        label {
            color: #aaa !important;
        }
    }
    .ant-form-item-control {
        > span {
            font-size: $baseSize * 1.2;
        } 
    }
}

.main-segment {
    padding: $baseSize * 4;
    background: #ffffff;
    min-height: 360px;
    border-radius: 10px;
    box-shadow: $boxShadow;
}

.inventory-list {
    .ant-list-item {
        padding: ($baseSize * 1.4) 0;
        .ant-list-item-meta-title {
            color: $blueish !important;
            font-size: 18px !important;
        }
    }
    .ant-list-item-meta-content {
        width: 20px;
        .ant-list-item-meta-description {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden
        }
    }
    .inventory-detail {
        margin-top: $baseSize * 3;
        .ant-list-item {
            padding: $baseSize 0;
            .ant-list-item-meta-title {
                color: #777 !important;
                font-size: initial !important;
            }
        }
        .ant-list-grid {
            .ant-list-item {
                margin-bottom: 0 !important;
            }
        }
        .extras {
            color: #777;
        }
        .image-wrapper {
            width: 300px;
            img {
                object-fit: contain;
                border-radius: 8px;
                box-shadow: $boxShadow;
            }
        }
    }
}

.ant-carousel {
    width: 340px;
    .slick-slide {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: transparent;
        overflow: hidden;
        img {
            object-fit: contain;
            border-radius: 8px;
            box-shadow: $boxShadow;
        }
    }
}