@import './settings';
@import './responsive';
@import './components';


.ant-layout-sider {
    background: #eee !important;
}

.ant-layout-footer {
    margin-top: $baseSize * 5;
}

.ant-layout-sider-trigger {
    background: #ccc !important;
}

.heading {
    color: #999;
    margin-bottom: $baseSize * 3;
    h2 {
        margin-bottom:  0;
        color: #1890ff;
    }
}

.main-form {
    &.loading {
        opacity: .4;
        transition: all .3s ease;
    }
    .ant-form-item-label {
        label {
            color: #aaa !important;
        }
    }
    .ant-form-item-control {
        > span {
            font-size: $baseSize * 1.2;
        } 
    }
}

.main-segment {
    padding: $baseSize * 4;
    background: #ffffff;
    min-height: 360px;
    border-radius: 10px;
    box-shadow: $boxShadow;
}

.inventory-list {
    .ant-list-item {
        padding: ($baseSize * 1.4) 0;
        .ant-list-item-meta-title {
            color: #1890ff !important;
            font-size: 18px !important;
        }
    }
    .inventory-detail {
        margin-top: $baseSize * 3;
        .ant-list-item {
            padding: $baseSize 0;
            .ant-list-item-meta-title {
                color: #777 !important;
                font-size: initial !important;
            }
        }
        .extras {
            color: #777;
        }
    }
}